html, body {
    max-width: 150%;
    overflow-x: hidden;
    padding-top: 20px;
}

#title{
	display: flex;
	justify-content: center;
	font-family: 'Arvo', serif;
	color: rgba(40,40,40,0.8);
	font-weight: bold;
	font-size: 500%;
	text-shadow: 2px 2px 5px black;
	font-family: 'BioRhyme', serif;
	padding-top: 70px;
}

.first {
	background-color: rgba(110, 38, 53,.95); ;
	background-size: 100% 80% ;
	margin-top: -30px;
	width: 100%;
	height: 300px;
}

.navbar {
	background-color: white;
	border: 0px solid transparent;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}
#about-the-poet, #baki-divan, #goals{
	display: flex;
	justify-content: center;
}

h2{
	padding-top:-30px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

p {
font-family: 'Slabo 27px', serif;

}

.second {
	margin-top: -30px;
	background-color: rgba(244, 206, 214,.9);
}
.third {
	margin-top: -30px;	
	background-color: rgba(129, 34, 54,0.65);
}
.fourth {
	margin-top: -30px;
	font-size :20px;
	background-color: rgba(244, 206, 214,.9)
}


.footer {
	margin-top: -60px;	
	background-color: rgb(110, 38, 53);
	padding-left: 20%;
	padding-bottom: 30px;
	padding-top: 20px;
}

.dropdown {
	margin-left: 300px;
}

#email {
	color: silver;
	text-shadow: .7px .7px 1px black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 2% 2% ;
}

