html, body {
    max-width: 150%;
    overflow-x: hidden;
    padding-top: 20px;
    min-height:100%;position:relative;
}
a {
text-decoration: none;
}

#background-image {
	background: url("img/1.jpg") no-repeat;
	background-size: 100%;
}
#title{
	display: flex;
	justify-content: center;
	font-family: 'Arvo', serif;
	color: rgba(40,40,40,0.9);
	font-size: 650%;
	text-shadow: 1px 1px 2px gray;
	font-family: 'Merriweather', serif;
	margin-top: 15%;
}

.first {
	background-size: 100% 80% ;
	margin-top: -30px;
	width: 100%;
	height: 100vh;
}
#learn-more{
	color: black;
	display: flex;
	justify-content: center;
	font-size: 25px;
	margin-top: 20%;
	font-family: 'Quicksand', sans-serif;
	background-color: rgba(200,200,200,0.7);
	margin-left: 42%;
	margin-right: 42%;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgb(60,60,60)
}
.navbar {
	background-color: white;
	border: 0px solid transparent;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}
#about-the-poet, #baki-divan, #goals{
	display: flex;
	justify-content: center;
}

h2{
	height: 50px;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 50px;
	background:rgba(250,250,250,0.4);
	padding-top:-30px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 40px
}

p {
font-family: 'Slabo 27px', serif;

}


.second {
	margin-top: -30px;
	background-color: rgba(244, 206, 214,.9);
}
.third {
	margin-top: -30px;	
	background-color: rgba(229, 164, 174,0.65);
}
.fourth {
	margin-top: -30px;
	font-size :20px;
	background-color: rgba(244, 206, 214,.9)
}


.footer {
	margin-top: -60px;	
	background-color: rgb(110, 38, 53);
	padding-left: 20%;
	padding-bottom: 30px;
	padding-top: 20px;
}

.dropdown {
	margin-left: 300px;
}

#email {
	color: silver;
	text-shadow: .7px .7px 1px black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 2% 2% ;
}

.section-hover {
	box-shadow: -3px 54px 100px 30px rgb(10,10,10);
}